.contactUsContainer {
  display: flex;
  justify-content: center;
}
.contactUsCard {
    margin: 80px 40px 40px 40px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px 5px rgb(135, 173, 77);

}