.Logo {
  width: 14em;
  margin-top: -2em;
  margin-left: 4em;
  filter: saturate(400%) brightness(100%);
}
.soeliteHeader {
  /* transform: translate3d(0px, 0px, 0px);
  height: var(--header-normal);
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid #21d328;  */
  position: sticky;
  top: 2em;
  z-index: 1;
  /* background-color: #8de011; */
  /* background-color: #a0ee2c; */
  background-color: #081002;
  color: white;
  width: 100%;
  height: 100px;
  box-shadow: 5px 5px 5px 5px rgb(135, 173, 77);
 
}
.soeliteNavbar {
  display: flex;
  /* pointer-events: all; */
  /* content: ""; */
  /* z-index: 2; */
  /* font-family: "Lucida Console", "Courier New", monospace; */
  align-items: center;
}
.soeliteMenu {
  display: flex;
  /* left: -1.5rem; */
}

.soeliteAbout {
  /* display: block; */
  margin-right: 4rem;
  font-family: fantasy;
  /* font-size: 14px; */

  overflow: hidden;
  /* z-index: 2;  */
  /* color: #fff; */
}
.headerContainer {
  display: flex;
  justify-content: space-between;
}